hr {
  margin: 0%;
}

.footer {
  font-family: var(--primary-font);
  background-color: var(--white);
  padding: 1em;
}

.lista-footer {
  display: none;
}

/* media query adjust for tablets */
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-around;
  }

  .lista-footer {
    display: block;
  }

  .footer__título {
    font-size: 24px;
  }

  .lista-footer__item {
    display: flex;
    align-items: center;
    margin: 1em;
  }

  .lista-footer__link {
    color: var(--grey);
    text-decoration: none;
    margin-left: 0.6em;
  }

  .lista-footer__título {
    font-size: 14px;
    color: var(--light-gray);
  }

  .lista-footer__link:hover {
    color: var(--orange);
    text-decoration: underline;
  }
}

@media screen and (min-width: 1366px) {
  .lista-footer {
    border-left: 1px solid var(--light-gray);
    padding-left: 1em;
  }

  .footer {
    padding: 3em 0;
  }
}
